<a href="https://colab.research.google.com/github/lamnguyenkhang31231021496/ueh25_ktltsp_khanglam_st3/blob/main/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + r)**n)
print(round(fv, 2))

194.87

In [3]:
from IPython.display import display

In [5]:
print("Hello, World!")
display("Hello, WWorld!")

Hello, World!

'Hello, WWorld!'

In [6]:
# Ghi chú
'''
Ghi chú
'''
print("Comment")

Comment

In [7]:
score = 80
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print(x, price, word)
print(f'x = {x, type(x)}, price={price, type(price)}, word={word, type(word)}')

2 2.5 Hello
x = (2, <class 'int'>), price=(2.5, <class 'float'>), word=('Hello', <class 'str'>)

In [8]:
x = 2
y = x + 1
print(x, y)

2 3

In [10]:
# comment
from platform import python_version
print("Python version:", python_version())

Python version: 3.12.12

In [11]:
help(python_version)

Help on function python_version in module platform:

python_version()
    Returns the Python version as string 'major.minor.patchlevel'

    Note that unlike the Python sys.version, the returned value
    will always include the patchlevel (it defaults to 0).

In [12]:
x = 'Hello, World'
print(x, type(x))

x = 2
print(x, type(x))

x = 2.5
print(x, type(x))

x = 7j
print(x, type(x))

Hello, World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [13]:
x = ['apple', 'banana', 'cherry']
x.append('hello')
print(x, type(x), x[1:3])

x = ('apple', 'banana', 'cherry') # immutable
# x.append('hello')
x = ('apple', 'banana', 'cherry', 'hello')
print(x, type(x), x[1:3])

x = {'name': 'Tome', 'age':20} # dictionary
print(x, type(x), x['name'], x['age'])

x = {'apple', 'banana', 'cherry'} # set
x.add('hello')
print(x, type(x))

x = frozenset({'apple', 'banana', 'cherry'}) # frozenset
print(x, type(x))

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']
('apple', 'banana', 'cherry', 'hello') <class 'tuple'> ('banana', 'cherry')
{'name': 'Tome', 'age': 20} <class 'dict'> Tome 20
{'banana', 'hello', 'cherry', 'apple'} <class 'set'>
frozenset({'banana', 'cherry', 'apple'}) <class 'frozenset'>

In [14]:
x = True
print(x, type(x))

x = b'Hello' # bytes
print(x, type(x))

x = bytearray(5) # bytearray
print(x, type(x))

x = memoryview(bytes(5)) # memoryview
print(x, type(x), hex(id(x)))

x = None # None type
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7cc9b668d6c0> <class 'memoryview'> 0x7cc9b668d6c0
None <class 'NoneType'>

In [15]:
# casting
x = str(3)
y = int(4.3)
z = float(3)

print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
4 <class 'int'>
3.0 <class 'float'>

In [16]:
# numbers
x = 2
print(x, type(x))

y = 3.4
print(y, type(y))

z = 7j + 3.5
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
(3.5+7j) <class 'complex'>

In [17]:
# Operator
print(7+2)
print(7-2)
print(7*2)
print(7/2)
print(7//2)
print(7%2)
print(7**2)

9
5
14
3.5
3
1
49

In [18]:
# Comparision
print(3 > 2)
print(3 < 2)
print(3 == 2)
print(3 != 2)
print(3 >= 2)
print(3 <= 2)

True
False
False
True
True
False

In [19]:
# bmi
# input
height_cm = 170
weight_kg = 60

# process
height_m = height_cm / 100
bmi = (weight_kg / (height_m **2))
print('Your BMI is ', round(bmi, 2))

Your BMI is  20.76

In [20]:
# $100 sau 7 năm
fv = 100 * (1+0.1)**7
print('fv = ', round(fv, 2))

fv =  194.87

In [21]:
# input
pv = 100
r = 0.1
n = 7

# process
fv = pv * ((1 + r)**n)
print('fv = ', round(fv, 2))

fv =  194.87

In [22]:
# input
amount = 100
interest = 10 # 10%
years = 7

# process
future_value = amount * ((1 + interest/100)**years)
print('future_value = ', round(future_value, 2))

future_value =  194.87

In [24]:
# Cấu trúc dữ liệu

x = ['apple', 'banana', 'cherry'] # list
print(x, type(x))
x = ('apple', 'banana', 'cherry') # tuple
print(x, type(x))
x = {'name': 'Tome', 'age':20} # dictionary
print(x, type(x))
x = {'apple', 'banana', 'cherry'} # set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tome', 'age': 20} <class 'dict'>
{'banana', 'cherry', 'apple'} <class 'set'>

In [25]:
# list
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [26]:
# tuple
x = (10, 20, 30, 40, 50)
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
# x[0] = 50 # error

5
10
20
50

In [27]:
# set
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [28]:
# dictionary
k = {'EN': 'English', 'FR': 'French'}
print(k['EN'])

English

In [30]:
# data types
fruits = ['apple', 'banana', 'cherry'] # list []
colors = ('red', 'green', 'blue') # tuple ()
animals = {'cat', 'dog'} # set {}
person = {'name': 'Tom', 'age': 20} # dict{k:v}

In [31]:
# lists
expenses = [72.5, 80.75, 50.0, 90.25]
total_expenses = sum(expenses)
print('Total expenses = ', total_expenses)

Total expenses =  293.5

In [32]:
# tuples
accounts = (('Cash', 1001), ('Accounts Receivable', 1002), ('Inventory', 1003))
for account in accounts:
  print('Account Name: ', account[0], ' - Account Number: ', account[1])

Account Name:  Cash  - Account Number:  1001
Account Name:  Accounts Receivable  - Account Number:  1002
Account Name:  Inventory  - Account Number:  1003

In [33]:
# set
account_numbers = set([acc[1] for acc in accounts]) # set comprehensive
print(account_numbers)
new_acc_number = 1004
if new_acc_number not in account_numbers:
  print(f'Account number {new_acc_number} is not in use')

{1001, 1002, 1003}
Account number 1004 is not in use

In [34]:
# dictionary
accounts = {
    "1001": {"name": "Cash", "balance": 500.0, "type": "Asset"},
    "1002": {"name": "Account Receivable", "balance": 1000.0, "type": "Asset"},
    "1003": {"name": "Account Payable", "balance": 750.0, "type": "liability"},
}

for acc_num, acc_info in accounts.items():
  print('-'*50)
  print('Account Number: ', acc_num)

  print('Account Name: ', acc_info['name'])
  print('Account Balance: ', acc_info['balance'])
  print('Account Type: ', acc_info['type'])

--------------------------------------------------
Account Number:  1001
Account Name:  Cash
Account Balance:  500.0
Account Type:  Asset
--------------------------------------------------
Account Number:  1002
Account Name:  Account Receivable
Account Balance:  1000.0
Account Type:  Asset
--------------------------------------------------
Account Number:  1003
Account Name:  Account Payable
Account Balance:  750.0
Account Type:  liability

In [35]:
# Control Logic & Loops

# if
score = 80
if score >= 60:
  print('Pass')

Pass

In [36]:
# if
score = 80
if score >= 60:
  print('Pass')
else: # score < 60
  print('Fail')

Pass

In [37]:
# if
score = 80
if score >= 90:
  print('A')
elif score >= 60: # score < 90 and score >=60
  print('Pass')
else: # score < 60
  print('Fail')

Pass

In [38]:
# if
score = 90
grade = ''
if score >=90:
  grade = 'A'
elif score >=80:
  gradd = 'B'
elif score >=70:
  grade = 'C'
elif score >=60:
  grade = 'D'
else:
  grade = 'E'
print('Grade: ', grade)`

Grade:  A

In [39]:
# loop
for i in range(1, 6):
  print(i, end = '')

12345

In [40]:
# 2 loop
for i in range(1, 10):
  for j in range(1, 10):
    print(f'{i} * {j} = {i*j}')
  print('-'*50)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
--------------------------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------

In [41]:
# while
age = 10
while age < 20:
  print(age, end = " ")
  age = age + 1

10 11 12 13 14 15 16 17 18 19

In [42]:
# Module & Function

# function
def getfv(pv, r, n):
  fv = pv * ((1 + r)**n)
  return fv
  pass

fv = getfv(100, 0.1, 7)
print('Future value = ', round(fv, 2))

Future value =  194.87

In [43]:
# class: properties (variables) + methods (functions)
class MyClass:
  x = 5

c1 = MyClass()
print(c1.x)

5

In [46]:
# class
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person('John', 36)
print(p1.name, p1.age)

John 36

In [49]:
# class
class Person:
  def  __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print('Hello my name is ', self.name)
    pass

p1 = Person('John', 36)
print(p1.name, p1.age)
p1.myfunc()

John 36
Hello my name is  John

In [51]:
class Vehicle:
  name = ""
  kind = "car"
  color = ""
  value = 100.0

  def __init__(self, name="", kind="car", color="", value=100.0):
    self.name = name
    self.kind = kind
    self.color = color
    self.value = value
    pass

  def description(self):
    desc_str = f'{self.name} is a {self.color} {self.kind} worth ${self.value:.2f}.'
    return desc_str
    pass

car1 = Vehicle()
car1.name = 'Fer'
car1.color = 'red'
car1.kind = 'convertible'
car1.value = 60000.0

car2 = Vehicle("Jump", 'blue', 'van', 10000.0)

print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a van blue worth $10000.00.

In [52]:
%%writefile mymodule.py
def greeting(name):
  print("Hello, ", name)

def greeting_vn(name):
  print("Xin chao, ", name)

Writing mymodule.py

In [53]:
import mymodule as m1
import importlib
importlib.reload(m1)
m1.greeting('Alan')
m1.greeting_vn('Alan')

Hello,  Alan
Xin chao,  Alan

In [54]:
# Read/Write File
with open('a.txt', 'w') as file:
  file.write('Hello, World\nThis is demo input/output')

!cat a.txt

Hello, World
This is demo input/output

In [55]:
with open('a.txt', 'r') as file:
  print(file.readlines())

['Hello, World\n', 'This is demo input/output']

In [56]:
%%writefile demo.py
def main():
  print('Hello, World!')

print(__name__)

if __name__ =="__main__":
  main()

Writing demo.py

In [57]:
%run demo.py

__main__
Hello, World!

In [58]:
import demo

demo

In [59]:
# Try, Except & File Handling
try:
  f = open('aa.txt')
  f.close()
except:
  print('File Error')
  pass
finally:
  print('Final')

File Error
Final

In [60]:
!ls /content/drive/MyDrive/

ls: cannot access '/content/drive/MyDrive/': No such file or directory

In [61]:
import os

print(os.getcwd())
print(os.listdir(os.getcwd()))

/content
['.config', 'mymodule.py', 'demo.py', '__pycache__', 'a.txt', 'sample_data']

In [62]:
path = os.path.join(os.getcwd(), 'sample_data')
print(path)
print(os.listdir(path))

/content/sample_data
['README.md', 'anscombe.json', 'mnist_train_small.csv', 'mnist_test.csv', 'california_housing_train.csv', 'california_housing_test.csv']

In [63]:
import glob

In [64]:
glob.glob('/content/sample_data/*.csv')

['/content/sample_data/mnist_train_small.csv',
 '/content/sample_data/mnist_test.csv',
 '/content/sample_data/california_housing_train.csv',
 '/content/sample_data/california_housing_test.csv']